.circle-styles {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}
