.circle-styles {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}

button.circle-styles {
  border: none;
  color: var(--medium-grey);
  cursor: pointer;
}

button.circle-styles:hover {
  background-color: var(--orange);
  color: var(--white);
}

.circle-styles.selected-rating {
  background-color: var(--medium-grey);
  color: var(--white);
}

.star-icon {
  width: 13px;
  height: 13px;
}

.title {
  margin: 1rem 0 0.9rem;
  font-weight: 700;
}

.description {
  color: var(--light-grey);
  line-height: 22px;
  font-size: 0.875rem;
  width: 279px;
}

.ratings-container {
  margin: 1.5rem 0;
  width: 281px;
  display: flex;
  justify-content: space-between;
  color: var(--medium-grey);
}

.submit-btn {
  padding: 0.75rem 6.75rem;
  text-transform: uppercase;
  background-color: var(--orange);
  color: var(--white);
  border: none;
  border-radius: 22.5px;
  width: 279px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 1.86667px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--orange);
}

@media (min-width: 1024px) {
  .circle-styles {
    width: 51px;
    height: 51px;
  }
  .submit-btn,
  .description,
  .ratings-container {
    width: 341px;
  }
}
